.navbar.navbar-default(role="navigation")
	.navbar-header
		a.navbar-brand(href='/') 电影狙击手
		ul.nav.navbar-nav
			li.active
				a(href='/') 首页
			li.dropdown
				a(href='/admin/movie/list') 列表
			li.dropdown
				a(href='/admin/movie') 新增
