<!DOCTYPE html>
<html></html>
<head></head>
<meta charset="utf-8">
<title></title>
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<body></body>
<div class="container"></div>
<div class="row"></div>
<div class="page-header"></div>
<h1></h1><small>gis520.com</small>
<div class="container">
  <div class="row">
    <form method="post" action="/admin/movie/new" class="form-horizontal">
      <div class="form-inline">
        <label for="inputTitle" class="col-sm-3 control-label">电影名字</label>
        <div class="col-sm-10">
          <input id="inputTitle" type="text" name="movie[title]" class="form-control">
        </div>
      </div>
    </form>
  </div>
</div>
<h1></h1>