<!DOCTYPE html>
<html></html>
<head></head>
<meta charset="utf-8">
<title></title>
<link href="/public/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/public/libs/jquery/dist/jquery.min.js"></script>
<script src="/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/js/admin.js"></script>
<script src="/public/js/detail.js"></script>
<body></body>
<div class="container">
  <div class="row">
    <div class="page-header">
      <h1></h1><small>电影狙击手</small>
    </div>
  </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header"><a href="/" class="navbar-brand">电影狙击手</a></div>
    <p class="navbar-text navbar-right"><a href="#" data-toggle="modal" data-target="#signupModal" class="navbar-link">注册</a><span>&nbsp;|&nbsp;</span><a href="#" data-toggle="modal" data-target="#loginModal" class="navbar-link">登录</a></p>
  </div>
</div>
<div id="signupModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="/user/signup">
        <div class="modal-header">注册</div>
        <div class="modal-body">
          <div class="form-group">
            <label for="signupName">用户名</label>
            <input id="signupName" name="user[name]" type="text" class="form-control">
          </div>
          <div class="form-gourp">
            <label for="signupPassword">密码</label>
            <input id="signupPassword" name="user[password]" type="text" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
          <button type="submit" class="btn btn-success">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="loginModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="/user/login">
        <div class="modal-header">登录</div>
        <div class="modal-body">
          <div class="form-group">
            <label for="loginName">用户名</label>
            <input id="signupName" name="user[name]" type="text" class="form-control">
          </div>
          <div class="form-gourp">
            <label for="loginPassword">密码</label>
            <input id="signupPassword" name="user[password]" type="text" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
          <button type="submit" class="btn btn-success">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <form method="POST" action="/user/signup">
        <div class="modal-body">
          <div class="form-group">
            <label for="signupName">用户名</label>
            <input id="signupName" name="user[name]" type="text" class="form-control">
          </div>
          <div class="form-gourp">
            <label for="signupPassword">密码</label>
            <input id="signupPassword" name="user[password]" type="text" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
          <button type="submit" class="btn btn-success">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="page-header">
      <div class="form-inline"><a href="/" class="btn btn-info">首页</a><a href="/admin/movie/list" class="btn btn-info">列表</a><a href="/admin/movie" class="btn btn-info">新增</a></div>
    </div>
  </div>
</div>