extend ../layout

block content
	.container
		.row
			.col-md-5
				form(method="POST",action="/user/login")
					.modal-body
						.form-group
							label(for="loginName") 用户名
							input#signupName.form-control(name="user[name]",type="text")
						.form-gourp
							label(for="loginPassword") 密码
							input#signupPassword.form-control(name="user[password]",type="text")
					.modal-footer
						button.btn.btn-default(type="button",data-dismiss="modal") 关闭
						button.btn.btn-success(type="submit") 提交