extend ../layout

block content

  form( class='form-horizontal' method='post' action="/login/check")
    fieldset
      legend 用户登录
        div.control-group
          label(class='control-label' for='username') 用户名
          div.controls
            input(type='text' class='input-xlarge' id='username' name='movie["username"]')
        div.control-group
          label(class='control-label' for='username') 密码
          div.controls
            input(type='password' class='input-xlarge' id='password' name='movie["password"]')
        div.form-actions
          button(type='submit' class='btn btn-primary') 登录